body{
    position: relative;
    margin: 0px;
}

#nav-bar{
    top: 0px;
    display: block;
    width: 100%;
    top: 0px;
    background-color: black;
    height: 100px;
    margin-bottom: 20px;
}

#principal{
    top: 70px;
    border: 1px red solid;
    padding: 5px;
    display: block;
    margin: 5px;
}

#console{
    border: 1px red solid;

}

.items li{
    align-items: center;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    position: relative;
    left: 20%;
}

.items a{
    text-decoration: none;
    color: white;

}